{%extends "layout.html" %}

{% block head%}
{{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('hadiths.static', filename='jquery-ui.css') }}"> 
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet">
		
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="{{url_for('hadiths.static',filename='jquery-ui.js')}}"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    
    <script type="text/javascript" src="{{url_for('hadiths.static',filename='hadithjs.js')}}"></script> 
    
{% endblock head%}
{% block content%}
<!---------------------------Div for popup to view narrator details --------------------->

    <div class="popup-overlay">
        <div class="popup-content w3-center w3-padding" style="overflow: auto;">
            <span class="close w3-padding">X</span>
            <table class="" >
                <tbody>
                    <tr style="height:25%"><td colspan=3></td></tr>
                    <tr style="height:25%"><td colspan = 3>&nbsp;</td></tr>
                    <tr>
                        <th style='text-align: right;'>الإسم   :</th>
                        <td contenteditable=True class="data_name" style="text-align: right;white-space:wrap; word-break: break-all; width: 400px; max-width: 400px;" ></td>
                        <td ><a id="saveNarratorName" href="" rel="save"><i class="fa fa-save w3-text-theme" style="font-size:20px"></i></a></td>
                        
                    </tr>
                    <tr>
                        <th style='text-align: right;'> عدد الأحاديث التي رواها:</th>
                        <td class="data_hadno" colspan = 2></td>
                        
                        
                    </tr>
                    <tr>
                        <th style='text-align: right;'> عدد التلاميذ:</th>
                        <td class="data_students" colspan = 2></td>
                        
                        
                    </tr>
                    <tr>
                        <th style='text-align: right;'>عدد الشيوخ:</th>
                        <td class="data_teachers" colspan = 2></td>
                        
                        
                    </tr>
                    <tr>
                        <th style='text-align: right;'>الأماكن التي عاش فيها:</th>
                        <td class="data_bio"></td>
                        
                        
                    </tr>
                    <tr>
                        <td style='text-align: right;'colspan=3>
                            <a id='alink' href='' target='_blank'> المزيد من المعلومات...</a></td>
                    </tr>
                
                
                </tbody>
            </table>
        </div>
    </div>

    
<!-------------------------- End Popup------------------------------------------------>

<!-----------------------------------Div for popup to select chapter--------------------->
    
    <div class="hadpopup w3-center w3-quarter" id="hadpopup1">
        <input type="text" style="width:100%" id="txtSearch" placeholder="Search..." />
        <div class="w3-card w3-container w3-center" style="height:80%;overflow-y:auto;">
            <table style="width:100%" id="chapterTab">
                <thead>
                    <tr><span></span></tr>
                    <tr>
                        <th></th>
                        <th style="text-align: center;"><h4>أبواب الكتاب</h4></th>
                        
                    </tr>
                </thead>
                <tbody id="hadChap">
                    <tr>
                        <td style="text-align: right;" style="font-size:10px">
                            <input type="radio" class="form-radio-input" name="optChapter" value="Option 1">

                        </td>
                        <td style="text-align: right;" >
                            <input type="hidden"  id="hadchapid" name="hadchapid" />
                            <p></p>
                        </td>
                    </tr>
                    
                    <tr>
                        <td><span></span></td>
                        
                    </tr>
                </tbody>
            </table>    
                
        </div>
        <div style="align-items: center; width:100%;margin-top: 1%;">
            <button class="w3-button small-btn" id="btnOk" name="btnOk" disabled>OK</button>
            <span class="button-space"></span> 
            <button class="w3-button small-btn" id="btnCancel" name="btnCancel">Cancel</button>
        </div>
    </div>

<!-----------------------------------End Popup------------------------------------------>

<!-------------------------- Form start------------------------------------------------> 
    <div>
        
        <form  method="post">
            <div class="w3-center w3-margin-top flex-container">

        <!-----------------------------hadeeth table, comment, sanad, moallaka and Submit---------------->
                
                <div id="block3" class="w3-half w3-padding ">
                    <div id="block31" class="w3-card w3-container" style="overflow-y: auto;overflow-x: hidden;"><!--height:540px; -->
                        <table style="width:100%">
                            <thead>
                                <tr>
                                    <th style="width:95%;text-align: center;"><h4>الأحاديث</h4></th>
                                    <th style="width: 5%;"><i id="go5" class='fa fa-expand w3-text-theme' style="font-size:20px"></i></th>
                                </tr>
                            </thead> 
                        </table>
                        <!-- <h4>الأحاديث</h4> -->
                        <table class="w3-table w3-bordered" id="hadeeth" >
                            <tbody>
                            {% for h in hadith: %}
                                <tr>
                                    <td style="border: 1px solid black; border-collapse: collapse;" >
                                        <input type="hidden"  id="hadithid" name="hadithid" value="{{h['_id']}}" />
                                        <p contenteditable="True"><br>{{ h['body_ar']}}</p>
                                    </td>
                                </tr>
                            {%endfor%}
                            </tbody>
                        </table>
                        
                        <div id="responseDiv" style="height: 100%;" >
                            <table id="responseTab" class="w3-table w3-bordered" style="height: 100%;" >
                                <tbody>
                                    <tr>
                                        <td style="font-size: 14px; font-weight: bold;">ادخل ملاحضاتك حول متن الحديث</td>
                                        <td  colspan="2"><textarea style="width:100%;"
                                            autocomplete="off" 
                                            id="hadeethComment" 
                                            name="hadeethComment" placeholder="ادخل ملاحضاتك حول متن الحديث">
                                        </textarea></td>
                                    </tr>
                                    <tr id="sanaddisplay" style="display:none" >
                                        <th >سند الحديث:</th>
                                        <td style="width:100%;">
                                            <table id="chainTable" style="width:100%">   
                                                <tbody style="width:100%;">
                                                    <tr style="white-space:nowrap ; word-break: break-all; width: 150px; max-width: 150px;"></tr> 
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan=2><button type='button' id="chkSanad" name="chkSanad" class='add'>أضف للسند</button></td>
                                        
                                    </tr>
                                    <tr>
                                        <td colspan=2 style="white-space:nowrap ; word-break: break-all; width: 150px; max-width: 150px;">
                                            <div style="overflow-x: auto;" >
                                            <table id="addSanadTable" style="display:none" >   
                                                <tbody style="width:100%;">
                                                    <tr><th>أضف سند للحديث</th>
                                                        <td>
                                                            <div  id="btnDivSanad" >
                                                                <table  id="tableSanadList" >
                                                                    <tr>
                                                                        <td></td>
                                                                    </tr>
                                                                </table>  
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td font-size: 14px; font-weight: bold;">ادخل ملاحضاتك حول سند الحديث</td>
                                        <td style="width:100%;height: 100%;" colspan="2">
                                            <textarea style="width:100%;"
                                            autocomplete="off" 
                                            id="chainComment" 
                                            name="chainComment" placeholder="ادخل ملاحضاتك حول سند الحديث">
                                            </textarea>
                                        </td>
                                    </tr>
                                    <tr id="moaladisplay" style="display:none" >
                                        <th >معلقة: </th>
                                        <td style="width:100%;">
                                            <table id="moalaTable" style="width:auto">   
                                                <tbody style="width: 100%;">
                                                    <tr></tr>
                                                </tbody>
                                            </table>
                                        </td>
                                       
                                    </tr><tr ><th colspan=2 >أضف سندا أو معلقة  <input type="checkbox" class="form-check-input " id="chkMoallaka" name="chkMoallaka" value="something"></th></tr> 
                                    <tr><td colspan=2 style="white-space:nowrap ; word-break: break-all; width: 150px; max-width: 150px;">
                                        <div style="overflow-x: auto;" >
                                            <table id="addMoalaTable" style="display:none">
                                                <tr>
                                                    <td >
                                                        <button type='button' id="btnAddChain" class='add'>أضف معلقة جديدة</button> 
                                                    </td> 
                                                </tr>
                                            </table>
                                        </div>
                                    </td></tr>
                                    <tr>
                                        <td colspan=2><button type='button' id="chKey" name="chKey" class='add'>أضف مفاتيح الكلمات</button></td>
                                    </tr>
                                    <tr>
                                        <td colspan=2 style="white-space:nowrap ; word-break: break-all; width: 150px; max-width: 150px;">
                                            <div style="overflow-x: auto;" >
                                                <table id="addKeyTable" style="display:none" >   
                                                    <tbody style="width:100%;">
                                                        <tr><th> مفاتيح الكلمات </th>
                                                            <td>
                                                                <div  id="btnDivKey">
                                                                    <table  id="tableKeyList">
                                                                        <tr>
                                                                            <td></td>
                                                                        </tr>
                                                                    </table>  
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div> 
                    </div>
                    
                    
                </div>
        
        <!----------------EOS hadeeth table, comment, sanad, moallaka and submit--------------------->
        
        <!--------------------------------- hadeeth with check box with option to add-------->  
                <div id="block1" class="w3-quarter w3-padding " >
                <div id="block11" class="w3-card w3-container" style="overflow-y: auto;"><!--style="height:540px;overflow-y: auto;"-->
                    <table id="AhadithTable" style="width:100%;border-collapse: collapse;">
                    <thead>
                        <tr>
                        <th style="width: 5%;">
                            <i id="addTD" class="fa fa-plus w3-text-theme" style="font-size:10px;cursor: pointer;"></i>
                        </th>
                        <th style="width:98%;text-align: center;"><h4>الأحاديث</h4></th>
                        <th >
                            <i id="go1" class='fa fa-expand w3-text-theme'style="font-size:20px"></i><br/></th>
                        </tr>
                    </thead>
                    <tbody id="hadTabbody">
                        {% for h in hadith: %}
                            <tr><td style="text-align: center; width:5px">
                                {%if h['save_flag'] == True%}
                                    <i class="checkmark w3-text-theme" style="font-size: 15px;"></i>
                                {% else %}
                                    <a href="" class="deleteRow" rel="del"><i class="fa fa-minus w3-text-theme" style="font-size:15px"></i></a>
                                {% endif %}</td>
                                <td style="text-align: right; white-space:wrap; word-break: break-all; width: 150px; max-width: 150px; " ><a href="" style="text-decoration: none;" >
                                    <input type="hidden"  id="hadithid_card" name="hadithid_card" value="{{h['_id']}}" />
                                    <p>{{ ' ('+h['hadithno']|string+')'+h['body_ar'][:100] + '...' }}</p></a>
                                </td>
                                <td style="text-align: left; width:2px;padding-left: 2%; ">
                                    <a href="" rel="edit"><i class="fa fa-edit w3-text-theme" style="font-size:15px"></i></a>
                                    
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>       
                </div>
                </div>
        
        <!-------------------------------eof hadeeth with check box---------------------->
            
        <!-- -------------------------Collection, book and chapter Chapter name for adding,editting and selecting----------------------------> 
                <!-- <div id="block2" class="w3-quarter w3-margin-top w3-margin-bottom  " > -->
                <div id="block2" class="w3-quarter w3-padding">
                    <div id="block21" class="w3-container w3-margin-bottom" ><!--style="width:100%;height:540px;"-->
            <!-- -------------------------Collection Option----------------------------------------------> 
                        <div id="collectionBlock2" class="w3-card  w3-margin-bottom"  >
                            <div class="headerDiv" style="width:100%">
                                <table style="width:100%">
                                    <thead>
                                        <tr>
                                            <th style="width: 5%;"><i id="addCollection" class="fa fa-plus w3-text-theme" style="font-size:10px;cursor: pointer;"></i></th>
                                            <th id="coll_name" style="width:98%;text-align: center;"><h4 >المجموعة</h4></th>
                                            <th><i id="go4" class='fa fa-expand w3-text-theme'style="font-size:20px"></i><br/></th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                            <div id="clDiv" class="contentDiv" style="width:100%;max-height: 100%;overflow-y: auto;">
                            <table style="width:100%">
                                <tbody id="collectionTabBody" style="width:100%">
                                    {% set collchk = namespace(flagchecked=False) %}
                                    {% for c in coll: %}
                                    <tr >
                                        <td style="text-align: center; width:5px">
                                            {% if c[2] == 1%}
                                                {%if c[3]==True%}<i class="checkmark w3-text-theme" id="{{c[0]}}" style="font-size: 15px;"></i>{%endif%}
                                            {% else %}
                                                <a href="" class="deleteRow" rel="del"><i class="fa fa-minus w3-text-theme" style="font-size:15px"></i></a>
                                            {% endif %}
                                        </td>
                                        {% if coll_id == c[0] %}{% set collchk.flagchecked = True %}
                                            <td style="text-align: right;white-space:wrap; overflow-y:auto; word-break: break-all; width: 150px; max-width: 150px;background-color: rgb(24, 139, 240);color:white" >
                                                <input type="hidden"  id="collection" name="collection" value="{{c[0]}}" />
                                                <p >({{c[4]}})<span>{{ c[1] }}</span></p>
                                            </td>
                                        {% elif coll_id==None and collchk.flagchecked == False %}{% set collchk.flagchecked = True %}
                                            <td style="text-align: right;white-space:wrap; overflow-y:auto; word-break: break-all; width: 150px; max-width: 150px;background-color: rgb(24, 139, 240);color: white;" >
                                                <input type="hidden"  id="collection" name="collection" value="{{c[0]}}" />
                                                <p >({{c[4]}})<span>{{ c[1] }}</span></p>
                                            </td>
                                        {% else %}
                                            <td style="text-align: right;white-space:wrap; overflow-y:auto; word-break: break-all; width: 150px; max-width: 150px;" >
                                                <input type="hidden"  id="collection" name="collection" value="{{c[0]}}" />
                                                <p >({{c[4]}})<span>{{ c[1] }}</span></p>
                                            </td>
                                        {% endif %}
                                            
                                        <td style="text-align: left; width:2px;padding-left: 2%; "><a href="" rel="edit"><i class="fa fa-edit w3-text-theme" style="font-size:15px"></i></a></td>
                                        
                                        
                                    </tr>
                                    {%endfor%}
                                    
                                </tbody>
                            </table>
                            </div>
                        </div>
                <!---------------------------------eof Collection title-------------------------------------->
                <!-- -------------------------Book option----------------------------------------------------> 
                        <div id="bookBlock2" class="w3-card  w3-margin-bottom"   >
                            <div class="headerDiv" style="width:100%">
                            <table style="width:100%">
                                <thead>
                                    <tr>
                                        <th style="width: 5%;"><i id="addBook" class="fa fa-plus w3-text-theme" style="font-size:10px;cursor: pointer;"></i></th>
                                        <th id="book_name" style="width:98%;text-align: center;"><h4 >الكتاب</h4></th>
                                        <th><i id="go3" class='fa fa-expand w3-text-theme'style="font-size:20px"></i><br/></th>
                                    </tr>
                                </thead>
                            </table>
                            </div>
                            <div id="bkDiv" class="contentDiv" style="width:100%;max-height: 100%;overflow-y: auto;">
                                <table style="width:100%">
                                <tbody id="bookTabBody" style="width:100%">
                                    {% set bookchk = namespace(flagchecked=False) %}
                                    {% for b in book: %}
                                        <tr><td style="text-align: center; width:5px">
                                            {% if b[2] == 1%}
                                                {%if b[3]==True%}<i class="checkmark w3-text-theme" id="{{b[0]}}" style="font-size: 15px;"></i>{%endif%}
                                            {% else %}
                                                <a href="" class="deleteRow" rel="del"><i class="fa fa-minus w3-text-theme" style="font-size:15px"></i></a>
                                            {% endif %}
                                        </td>
                                        
                                        {% if book_id == b[0] %}{% set bookchk.flagchecked = True %}
                                            <td style="text-align: right;white-space:wrap; overflow-y:auto; word-break: break-all; width: 150px; max-width: 150px;background-color: rgb(24, 139, 240);color:white" >
                                                <input type="hidden"  id="bookHidden" name="bookHidden" value="{{b[0]}}" />
                                                <p >({{b[4]}})<span>{{ b[1] }}</span></p>
                                            </td>
                                        {% elif book_id==None and bookchk.flagchecked == False %}{% set bookchk.flagchecked = True %}
                                            <td style="text-align: right;white-space:wrap; overflow-y:auto; word-break: break-all; width: 150px; max-width: 150px;background-color: rgb(24, 139, 240);color: white;" >
                                                <input type="hidden"  id="bookHidden" name="bookHidden" value="{{b[0]}}" />
                                                <p >({{b[4]}})<span>{{ b[1] }}</span></p>
                                            </td>
                                        {% else %}
                                            <td style="text-align: right;white-space:wrap; overflow-y:auto; word-break: break-all; width: 150px; max-width: 150px;" >
                                                <input type="hidden"  id="bookHidden" name="bookHidden" value="{{b[0]}}" />
                                                <p >({{b[4]}})<span>{{ b[1] }}</span></p>
                                            </td>
                                        {% endif %}
                                            
                                        <td style="text-align: left; width:2px;padding-left: 2%; "><a href="" rel="edit"><i class="fa fa-edit w3-text-theme" style="font-size:15px"></i></a></td>
                                        </tr>
                                    {%endfor%}
                                </tbody>
                            </table>
                            </div>

                        </div>
                <!----------------------------------eof Book title-------------------------------------->
                <!-- -------------------------Chapter Option-------------------------------------------------->          
                        <div id="chapterBlock2" class="w3-card  w3-margin-bottom"  >
                            <div class="headerDiv" style="text-align: center;">
                            <table style="width:100%" id="chapterTab">
                                <thead>
                                    <tr>
                                        <th style="width: 5%;"><i id="addTDKetab" class="fa fa-plus w3-text-theme" style="font-size:10px;cursor: pointer;"></i></th>
                                        <th id="chap_name" style="width:98%;text-align: center;"><h4>أبواب الكتاب</h4></th>
                                        <th>
                                        
                                            <i id="go2" class='fa fa-expand w3-text-theme'style="font-size:20px"></i><br/>
                                        </th>
                                    </tr>
                                </thead>
                            </table>
                            </div>
                            <div id = "chDiv" class="expanded" style="width:100%;max-height: 100%;overflow-y: auto;">
                                <table style="width:100%">
                                <tbody id="chapterTabBody">
                                {% set fchk = namespace(flagchecked=False) %}
                                {% for ch in chapter %}
                                <tr>
                                    <td style="text-align: center; width:5px">
                                        {% if ch[2] == 1%}
                                            {%if ch[3]==True%}<i class="checkmark w3-text-theme" id="{{ch[0]}}" style="font-size: 15px;"></i>{%endif%}
                                        {% else %}
                                            <a href="" class="deleteRow" rel="del"><i class="fa fa-minus w3-text-theme" style="font-size:15px"></i></a>
                                        {% endif %}
                                    </td>{% if chapter_id==ch[0]  %}{% set fchk.flagchecked = True %}
                                    <td style="text-align: right;white-space:wrap; overflow-y:auto; word-break: break-all; width: 150px; max-width: 150px;background-color: rgb(24, 139, 240);color:white" >
                                        <input type="hidden"  id="chapter" name="chapter" value="{{ch[0]}}" />
                                        <p >({{ch[4]}})<span>{{ ch[1] }}</span></p>
                                    </td>
                                    {% elif chapter_id==None and fchk.flagchecked == False %}{% set fchk.flagchecked = True %}
                                    <td style="text-align: right;white-space:wrap; overflow-y:auto; word-break: break-all; width: 150px; max-width: 150px;background-color: rgb(24, 139, 240);color: white;" >
                                        <input type="hidden"  id="chapter" name="chapter" value="{{ch[0]}}" />
                                        <p >({{ch[4]}})<span>{{ ch[1] }}</span></p>
                                    </td>
                                    {% else %}
                                    <td style="text-align: right;white-space:wrap; overflow-y:auto; word-break: break-all; width: 150px; max-width: 150px;" >
                                        <input type="hidden"  id="chapter" name="chapter" value="{{ch[0]}}" />
                                        <p >({{ch[4]}})<span>{{ ch[1] }}</span></p>
                                    </td>
                                    {% endif %}
                                    <td style="text-align: left; width:2px;padding-left: 2%; "><a href="" rel="edit"><i class="fa fa-edit w3-text-theme" style="font-size:15px"></i></a></td>
                                </tr>
                                {%endfor%}
                                
                                </tbody>
                            </table> 
                            </div>       
                        </div>
            <!-----------------------eof chapter title-------------------------------------->           
                    </div>
                </div>
            
        <!--------------------Hadeeth,collection,book and chapter card expand and collapse--------------------------------------->
                <div id="TitleBlock2" class="w3-quarter w3-padding" style="display:none; " >
                    <div id="TitleCollectionBlock2" class="w3-card w3-container" style=" writing-mode: vertical-lr;">
                        <h4>المجموعة</h4>
                    </div>
                    <div id="TitleBookBlock2" class="w3-card w3-container" style=" writing-mode: vertical-lr;">
                        <h4>الكتاب</h4>
                    </div>
                    <div id="TitleChapterBlock2" class="w3-card w3-container" style=" writing-mode: vertical-lr;">
                        <h4>أبواب الكتاب</h4>
                    </div>
                    <div id="TitleBlock1" class="w3-card w3-container" style=" writing-mode: vertical-lr;">
                        <h4>الأحاديث</h4>
                    </div>
                </div>
        <!--- ----------------------------EOF for collapse and expand the div---------------------------------------------------------->
            </div>
        <!----------------------------------------------End of sections--------------------------------------->
        
        <!--- ----------------------------Next and Previous Button---------------------------------------------------------->
            <div class= "w3-half" id="button-container">
                <div id="nav" class="w3-center">
                    <a href="" class="w3-bar-item w3-button w3-hover-theme w3-disabled" style="font-weight:bold; padding: 0px 0px; border: 2px solid rgb(24, 139, 240);" rel="prevbtn">السابق</a>
                    <a href="" class="w3-bar-item w3-button w3-hover-theme" style="font-weight:bold; padding: 0px 0px; border: 2px solid rgb(24, 139, 240);" rel="nxtbtn">التالي</a>
                
                <!-- <a href="" class="w3-bar-item w3-button w3-hover-theme w3-disabled" style="font-weight:bold" rel="prevbtn">Prev</a>
                <a href="" class="w3-bar-item w3-button w3-hover-theme" style="font-weight:bold" rel="nxtbtn">Next</a> -->
                </div>
            </div>
        </form>
    <!-------------------------------End Form------------------------------------------->
    
    </div>
       
{%endblock content%}
